.footer {
    position: relative;
}

.footer::before {
    content: '';
    position: absolute;
    display: block;
    width: 146px;
    height: 54px;
    top: -54px;
    right: 0;
    left: 50%;
    transform: translateX(-50%);
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
    background-color: var(--blue-text);
}

.footer-nav {
    background-color: var(--blue-text);
    color: var(--color-white);
}

.footer-menu {
    display: flex;
    justify-content: space-around;
    padding: 89px 0 66px;
}

.footer-menu__contacts {
    max-width: 264px;
}

.footer-title {
    max-width: 118px;
    display: flex;
    flex-direction: column;
    margin-bottom: 22px;
}

.footer-title h3 {
    font-family: var(--adobe-font);
    font-weight: 700;
    font-size: 25px;
    letter-spacing: 0.15em;
}

.footer-title span {
    text-align: center;
    font-family: var(--adobe-font);
    font-weight: 700;
    font-size: 9px;
    letter-spacing: 0.6em;
}

.footer-adress {
    font-size: 14px;
}

.footer-menu a {
    color: var(--color-white);
}

.footer-menu__list li+li {
    margin-top: 26px;
}

.footer-menu__list a {
    color: #f7f7f7;
}

.footer-socials {
    display: flex;
}

.footer-socials__img {
    display: grid;
    justify-items: center;
}

.footer-socials__items {
    display: grid;
}

.footer-socials__items a {
    padding-left: 18px;
}

.footer-mail p {
    padding-bottom: 29px;
}

.footer-mail__input input {
    width: 280px;
    padding: 15px 0 17px 26px;
    border-radius: 5px;
    outline: 2px solid var(--btn-color);
}

.footer-mail__input input::placeholder {
    color: var(--color-white);
    font-size: 16px;
}

.mail-btn {
    font-weight: 600;
    padding: 17px 29px 18px 26px;
    background-color: var(--btn-color);
    color: var(--blue-text);
    border-radius: 5px;
}