.header-btn {
    position: relative;
    padding: 22px 33px 27px 78px;
    margin-bottom: 80px;

    font-size: 25px;
    font-weight: 700;
    text-align: center;
    border-radius: 10px;

    background-color: var(--btn-color);
    color: var(--color-white);

    transition: all 0.2s ease-in;
}

.header-btn::before {
    display: block;
    content: '';
    position: absolute;
    left: 32px;
    top: 37px;
    width: 28px;
    height: 25px;
    transform: translateY(-50%);
    background-image: url('./../../img/book_now.svg');
    background-size: contain;
}

.header-btn:hover {
    background-color: #e0ba73dc;
}