@media(max-width: 1361px) {
    .img-wrapper img {
        min-width: 640px;
    }
}

@media(max-width: 1281px) {
    .main-title {
        margin-bottom: 73px;
        font-size: 30px;
    }

    .main-content__desc h2 {
        margin-bottom: 22px;
        font-weight: 500;
        font-size: 50px;
    }

    .main-content__text {
        font-size: 20px;
        line-height: 1.6;
    }

    .img-wrapper img {
        min-width: 540px;
    }

    .btn {
        max-width: 160px;
        padding: 15px 35px;
        font-size: 16px;
    }
}

@media(max-width: 1201px) {
    .header-nav {
        margin-bottom: 120px;
    }

    .header-nav .logo {
        width: 200px;
        height: 100px;
    }

    .hero {
        margin-bottom: 50px;
    }

    .hero__title {
        font-size: 35px;
    }

    .hero__main {
        font-weight: 500;
        line-height: 0.8;
        font-size: 120px;
        letter-spacing: 0.05em;
    }

    .hero__bottom {
        font-weight: 500;
        font-size: 40px;
    }

    .header-btn {
        padding: 16px 20px 17px 50px;
        margin-bottom: 50px;
        font-size: 18px;
    }

    .header-btn::before {
        left: 20px;
        top: 27px;
        width: 20px;
        height: 20px;
    }

    .hero {
        max-width: 100%;
        margin-bottom: 67px;
        text-align: center;
        align-items: center;
    }

    .header-bottom h2 {
        margin-bottom: 50px;
    }
}

@media(max-width: 1140px) {
    
}

@media(max-width: 1099px) {
    .main-content {
        gap: 60px;
    }

    .footer-menu {
        flex-wrap: wrap;
        gap: 50px 60px;
        justify-content: space-around;
        padding: 71px 0 49px;
    }

    .footer-mail p {
        padding-bottom: 15px;
    }
}

@media(max-width: 981px) {
    .nav ul {
        display: none;
    }

    .menu-icon-wrapper {
        position: fixed;
        z-index: 9;
        top: 35px;
        right: 30px;
        display: flex !important;
        width: 30px;
        height: 30px;
        justify-content: center;
        align-items: center;
    }

    .nav.open ul {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        background-color: #bbcbeb;
        z-index: 8;
        padding: 46px 30px;

        display: none;
        flex-direction: column;
        row-gap: 50px;

        font-size: 25px;
        font-weight: 700;

        transition: all 1s ease-in;
    }

    .nav ul li+li {
        margin-left: 0;
    }

    .nav a {
        color: var(--blue-text);
    }

    .main-title {
        margin-bottom: 65px;
        font-size: 25px;
        padding: 0 15px;
    }

    .main-content {
        flex-direction: column;
        gap: 60px;
    }

    .main-content__desc {
        padding-left: 0;
        max-width: 615px;
    }

    .main-content__desc::before {
        display: none;
    }

    .main-content__desc h2 {
        font-size: 42px;
    }

    .main-content__text {
        font-size: 20px;
        line-height: 1.5;
    }

    .img-wrapper {
        width: 75%;
    }

}

@media(max-width: 840px) {
    .carousel-title {
        font-size: 26px;
        padding-bottom: 20px;
    }

    .carousel-quote {
        font-size: 24px;
        padding-bottom: 20px;
    }

    .carousel-user {
        font-size: 20px;
        padding-bottom: 18px;
    }

    .carousel-btn {
        width: 38px;
        height: 38px;
    }

    .img-wrapper {
        width: 100%;
    }
}

@media (max-width: 780px) {
    .header-nav {
        margin-bottom: 140px;
    }

    .hero {
        margin-bottom: 140px;
    }

    .hero__title {
        font-size: 28px;
    }

    .hero__main {
        padding: 20px 0;
        font-weight: 500;
        font-size: 96px;
    }

    .hero__bottom {
        font-weight: 400;
        font-size: 33px;
    }

    .hero__text {
        font-size: 20px;
    }

    .header-btn {
        margin-bottom: 70px;
    }

    .main-content {
        gap: 45px;
    }

    .main-content__desc h2 {
        margin-bottom: 16px;
    }

    .main-content__text {
        margin-bottom: 18px;
    }

    .img-wrapper img {
        min-width: 0;
    }
}

@media (max-width: 720px) {
    .footer-menu {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .footer-mail__input input {
        margin-bottom: 10px;
    }

    .mail-btn {
        padding: 14px 23px 14px 21px;
    }
}

@media(max-width: 666px) {
    .main-title {
        max-width: 650px;
        margin-bottom: 50px;
    }

    .footer-menu {
        gap: 50px 30px;
    }

    .footer-socials__img {
        gap: 12px;
    }

    .footer-mail__input input {
        width: 200px;
        padding: 9px 0 12px 14px;
    }

    .footer-mail__input input::placeholder {
        font-size: 14px;
    }
}

@media (max-width: 520px) {
    .footer-menu {
        display: flex;
        flex-direction: column;
        padding: 67px 0 40px;
    }
}

@media (max-width: 460px) {
    .header-nav .logo {
        width: 150px;
        height: 80px;
    }

    .hero__title {
        font-size: 22px;
    }

    .hero__main {
        padding: 10px 0;
        font-weight: 500;
        font-size: 70px;
    }

    .hero__bottom {
        font-weight: 400;
        font-size: 35px;
    }

    .hero__text {
        font-size: 18px;
    }

    .menu-icon-wrapper {
        top: 27px;
        right: 18px;
    }

    .header-btn {
        margin-bottom: 120px;
    }

    .header-bottom h2 {
        font-size: 20px;
        margin-bottom: 42px;
    }

    .header-bottom img {
        width: 40px;
        height: 40px;
    }

    .booking-modal__body {
        font-size: 16px;
    }

    .booking-modal__body h1 {
        font-size: 16px;
    }

    .modal__input {
        font-size: 13px;
        padding: 7px 0 7px 7px;
    }

    .modal__send {
        padding: 8px 15px;
        font-size: 12px;

    }

    .modal__close {
        font-size: 18px;
        width: 25px;
        height: 25px;
    }

    .main-title {
        font-size: 22px;
        margin-bottom: 65px;
    }

    .main-content__desc h2 {
        font-size: 30px;
    }

    .main-content__text {
        font-size: 17px;
    }

    .btn {
        max-width: 100px;
        padding: 10px 22px;
        font-size: 12px;
    }

    .carousel-quote {
        font-size: 20px;
    }

    .slider {
        margin-top: 80px;
        margin-bottom: 140px;
    }
}